/* Container styling */
.container {
    display: flex;
    background-color: #faf0e6; /* Light beige background */
    padding: 2rem;
    border-radius: 10px;
    align-items: center;
    gap: 2rem;
    margin: 2rem auto;
    max-width: 1200px;
  }
  
  /* Image div */
  .imageDiv {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    border-radius: 8px;
    max-width: 50%;
    height: 30%;
  }
  
  /* Flavors text div */
  .flavorsDiv {
    flex: 1;
    color: #333;
    text-align: left;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #e17055;
    font-weight: bolder;
  }
  
  .flavorList {
    list-style: none;
    padding: 0;
  }
  
  .flavorList li {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: #575e61; 
    font-weight: bolder;
}
    

  .flavorList h2{
color:#e17055 ;
font-weight: bold;
font-size: x-large;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      text-align: center;
    }
  }
  